@model FIT5032_Week05.Models.Journalist
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Logged Successful</h2>
<h3>@ViewBag.LogInMessage</h3>
@using (Html.BeginForm("Upload", "Journalists", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="file" value="Browse" />
            <br />
            <input type="submit" value="Upload" />
        </div>
    </div>
}

<div>
    <h4>Journalist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

